* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.4;
  overflow-y: auto;
}

.App {
  display: flex;
  flex-direction: column;
}

/* Header */
header {
  background-color: #ece75f;
  text-align: center;
  padding: 10px 0;
}

h1 {
  font-size: 3rem;
  letter-spacing: 0.3rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  color: #f00;
  text-shadow: 1px 1px 10px #555;
  width: 95%;
  margin: auto;
}

header p {
  font-size: 1.2rem;
  color: #444;
  font-weight: bold;
  margin: 0 20px;
}

/* Scoreboard */
.scores {
  text-align: center;
  background-color: #e47200;
  width: 250px;
  margin: 20px auto 30px;
  font-weight: 700;
  color: #fff;
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 10px;
}

/* Frame */
ul.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  list-style-type: none;
  place-items: center;
  gap: 30px;
  max-width: 1200px;
  width: 95%;
  margin: auto;
}

.card {
  width: 255px;
  height: 210px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

img {
  width: 100%;
  border-radius: 5px;
}

.card p {
  text-align: center;
  margin-top: 10px;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: bold;
  color: #555;
}

/* Modal */
.modal {
  position: relative;
  text-align: center;
}

.backdrop {
  position: fixed;
  inset: 0;
  top: 0;
  right: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.gameState {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: #fff;
  width: 280px;
  padding: 20px;
  font-weight: bold;
  font-size: 1.5rem;
  color: #444;
  border-radius: 10px;
}

.gameState button {
  font-size: 1rem;
  font-family: inherit;
  padding: 5px 15px;
  margin-top: 10px;
}

.won {
  color: #0b0;
}

/* Footer */
footer {
  font-size: 80%;
  text-align: center;
  margin-bottom: 0;
  margin-top: 40px;
}

footer a {
  text-decoration: none;
  cursor: pointer;
}
